.speech{
    font-family: "Lucida Console", "Courier New", sans-serif;
    font-size: medium;
    color: black;
}
.direction{
    font-family:"Times New Roman", Times, serif;
    font-size:large;
    color: black;
    background-color: rgb(170, 211, 247);
}
.direction:hover{
    color: tan ;
    background-color: black;
}
.BROVIK{
    color: cornflowerblue;
}
.BROVIK:hover{
    background-color:blue;
    text-shadow: 10px 10px 6px palevioletred;
    border:solid 2px red ;
    
    
}
.SOLNESS{
    color:cornflowerblue;
}
.SOLNESS:hover{
    background-color:brown;
    text-shadow: 10px 10px 6px fuchsia;
    border:solid 2px red ;
    
}
.KAIA{
    color:cornflowerblue;
}

.KAIA:hover{
    background-color:darkorchid;
    text-align: left;
    text-shadow: 10px 10px 6px rgb(140, 54, 101);
    border:solid 2px red ;
    
}
.RAGNAR{
    color:rgb(14, 81, 205);
}
.RAGNAR:hover{
    background-color:palegreen;
    text-align: left;
    text-shadow: 10px 10px 6px yellow;
    border:solid 2px red ;

}
table{
    background-color: rgb(46, 122, 147);
    color:rgb(131, 131, 205);
    text-align: left;
    padding: 1px;
    border:solid 3px rgb(164, 118, 184);
    margin-bottom: 20px;
}
th {
    background-color:rgb(47, 69, 111);
    color:rgb(206, 26, 62);
    text-align: left;
    padding: 10px;
    border: 1px solid rgb(95, 21, 127);
}
td{border: solid 1px;text-align: left;padding: 9px;}
tr{background-color: rgba(150, 230, 150, 0.863);}
tr:nth-child(even){background-color:rgb(252, 174, 149);color:rgb(183, 183, 55);}
ul.navigation-horizontal{
    list-style-type: none;
    margin:3px;
    padding:5px;
}